﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Cinema A Entertainment Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />-->
    <!-- Custom Theme files -->
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    @Styles.Render("~/Content/css") 
    <!-- Custom Theme files -->
    @*<script src="js/jquery.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- header-section-starts -->
    <div class="full">
        <div class="menu">
            <ul>
                <li><a class="active" href="index.html"><i class="home"></i></a></li>
                <li><a href="videos.html"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
                <li><a href="reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
                <li><a href="404.html"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
                <li><a href="contact.html"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
            </ul>
        </div>
        <div class="main">
            <div class="contact-content">
                <div class="top-header">
                    <div class="logo">
                        <a href="index.html"><img src="/images/logo.png" alt="" /></a>
                        <p>Movie Theater</p>
                    </div>
                    <div class="search">
                        <form>
                            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
               @RenderSection("MovieHeader", false);
            </div>
            @RenderBody()
            <div class="footer">
                <h6>Disclaimer : </h6>
                <p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
                <a href="example@mail.com">example@mail.com</a>
                <div class="copyright">
                    <p> Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
   
</body>
</html>